{
    "endOfLine": "auto",
    "singleQuote": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "printWidth": 120,
    "semi": true,
    "trailingComma": "all",
    "arrowParens": "always"
}