// Screen media sizes variables
$small-screen: 430px;
$bp-largest-screen: 75em; // 1200px
$bp-large-screen: 68.75em; // 1100px
$bp-small-screen: 43.75em; // 700px
$bp-extra-small-screen: 40.625em; // 600px
$bp-smallest-screen: 31.25em; // 500px
$small-desktop-screen: 48em; // 768px
$very-small-device-screen: 400px;

// Variant Colors variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// General Color variables
$blue-color: #118acb;
$green-color: #45b97c;
$dark-color: #43484d;
$gray-color: #86939e;
$red-color: #ea6666;
$light-blue-color: #e7f5fe;
$light-color: #fff;
$light-gray-color: #f9f9f9;

// Fonts variables
$roboto-font: "Roboto", sans-serif;
